# Cozy-Move is configured through environment variables.
# This file list and describe the most important ones
#
# Commented-out variables are optional. In that case, the default value
# is indicated in this file. Uncomment and change value if you need something
# other than default.

# Your environment. Should be prod for production or dev for development
MIX_ENV=prod

# The secret key base
SECRET_KEY_BASE="[output of mix phx.gen.secret]"

# The public URL where users can reach Cozy-Move
COZY_MOVE_URL="https://move.cozycloud.cc/"

# Listening port
#PORT=4000

# The external URL the application is reachable from
COZY_MOVE_URL="https://move.cozycloud.cc/"
