/* Import cozy-ui. Both imports are needed:
 * - the first for React components
 * - the second for u-elevation-1 and c-btn.
 *
 * But most of the utilities are imported twice, and we have a lot of
 * declarations not needed. Webpack complains that our built CSS exceeds
 * the recommended size limit.
 */
@import "~cozy-ui/transpiled/react/stylesheet.css";
@import "~cozy-ui/dist/cozy-ui.min.css";

/* Fonts */
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Lato-Bold.woff2") format("woff2");
}

/* Utilities */
.u-w-1px {
  width: 1px;
}
.u-bdc-frenchPass {
  border-color: var(--frenchPass);
}
.u-bdc-silver {
  border-color: var(--silver);
}
.u-bds-dotted {
  border-style: dotted;
}
.u-bds-solid {
  border-style: solid;
}
.u-bd-bottom {
  border-bottom: 1px solid var(--silver);
}

/* Layout */
main {
  --navUnit: 4rem;
  display: grid;
  grid-template-columns: var(--navUnit) 1fr;
  grid-template-rows: var(--navUnit) calc(2 * var(--navUnit)) 1fr 5rem;
}
main > *,
main form > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > a {
  grid-area: 1 / 1 / 2 / 2;
}
main header {
  grid-area: 1 / 2 / 2 / 3;
}
main > nav {
  grid-area: 1 / 1 / 2 / 3;
  justify-content: flex-start;
}
main section {
  grid-area: 2 / 1 / 4 / 3;
  flex-direction: column;
  justify-content: flex-start;
}
main section > * {
  width: 100%;
}
main footer {
  grid-area: 4 / 1 / 5 / 3;
  width: 100%;
}
main footer > .c-btn {
  width: 100%;
}
main form {
  display: contents;
}

/* Mobile */
@media (max-width: 30rem) {
  main {
    --navUnit: 3rem;
    min-height: 100vh;
  }
  main > nav {
    display: none;
  }
  main header {
    justify-content: flex-start;
  }
  main > a,
  main header {
    box-shadow: inset 0 -1px 0 0 var(--silver);
  }
  main section:not(.u-m-0-s),
  main footer {
    width: calc(100vw - 2rem);
    margin: 1rem;
  }
}

/* Desktop */
@media (min-width: 30rem) {
  .u-bdw-0-m {
    border-width: 0px;
  }
  .u-bdw-half-m {
    border-width: 1px;
  }
  main > a + nav {
    grid-area: 1 / 2 / 2 / 3;
  }
  main header {
    grid-area: 2 / 1 / 3 / 3;
  }
  main header + section {
    grid-area: 3 / 1 / 4 / 3;
  }
  main section {
    grid-area: 3 / 1 / 4 / 3;
  }
  main header,
  main section,
  main footer {
    max-width: 32rem;
    width: 100%;
    margin: auto;
  }
  main footer > .c-btn {
    margin-top: 2.5rem;
  }
}
